:root {
  --background-color: #2f303a;
}
/* body {                                       
  position: absolute;
  font-style: normal;
}
/* HEADING  */
body h1,
h2,
h3 {
  text-align: center;
  font-size: 2;
}
h1 {
  visibility: hidden;
}

.section .sub-header {
  visibility: hidden;
}
.main-content h1 {
  text-align: center;
  font-size: 2rem;
}
.main-content h2 {
  text-align: center;
  font-size: 2.2;
}
.main-content h3 {
  font-size: 2;
}
/* Helping items */
ul {
  list-style: none;
}
a,
button {
  text-decoration: none;
}
header {
  letter-spacing: 0.02em;
}
main {
  letter-spacing: 0.06em;
}
footer {
  letter-spacing: 0.03em;
}
/* Site header begins */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #404040;
}
.logo .half-1 {
  color: #2196f3;
}
/* Pages color */
.title .title-1 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}
.sub-nav .title .title-2 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}
.item a {
  font-family: Roboto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}
/* hidden the bottom */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Add hover, focus and active(dark/blue color) for nav unit */
.sub-nav .title .title-2:focus,
.sub-nav .title .title-2:hover,
.title .title-2:active,
.title .title-1:focus,
.title .title-1:hover,
.title .title-1:active {
  color: #2196f3;
}
.item .e-mail:hover,
.item .e-mail:focus {
  color: #2196f3;
}
.item .tel:hover,
.item .tel:focus {
  color: #2196f3;
}
/* Main content */
.titles .btn-option {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;
}
/* background div) */
.titles .btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;
}
/* Projects commyuity */
.feature .paper {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.section .feature p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  color: #757575;
}
/* End main content and footer starting */
.basement {
  background-color: var(--background-color);
}
.logotype .web-link {
  color: #2196f3;
}
.basement a {
  color: #212121;
}
.basement .logotype {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footerbox .link-1 .site {
  color: #2196f3;
}
.info .contact-details {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
.info .link-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.info .web-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
